# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VSCode / JetBrains
.vscode/
.idea/

# outputs / temp
outputs/
runs/
logs/
*.log

# data (usually big; keep a README instead)
dataset/
data/
*.csv
*.tsv
*.txt
*.zip
*.gz

# model artifacts
*.pt
*.pth
*.ckpt
*.h5
*.pkl

#local history
.history/
